$backgroud: white;
$darkbackgroud: #303030;
$font: #444444;
$darkfont: #cecdcd;
$shadow: rgba(209, 198, 193, 0.7);
$darkshadow: rgba(209, 198, 193, 0.2);
$active: #bdd8e6;
$seperator: #eeeeee;
$darkseperator: #888888;
$green: #24a321;
$red: #c71310;
