@import 'Variables';

body {
  margin: 0;
  padding: 0;
  background-color: $backgroud;
  font-family: Helvetica, Times, Georgia, 'Times New Roman', serif;
  color: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdcontainer {
  flex-wrap: wrap;
  padding: 20px 40px;
  border-bottom: 1px solid $seperator;
}

.container {
  padding: 20px 0px;
}

.chart {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.chart-container {
  box-shadow: 0 2px 8px 0 $shadow;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-top: 15px;

  .chart-header {
    margin-left: 28px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
    line-height: 22px;
  }

  .chart-info {
    font-size: 15px;
  }
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.standard-charts {
  padding-bottom: 20px;
}

.horizontal-separator {
  border-left: 1px solid $seperator;
  margin-left: 10px;
  padding-left: 10px;
}

.dark-mode {
  background: $darkbackgroud;
  color: $darkfont;
  .stock-button,
  .period-button {
    color: $darkfont;
  }
  .mr-sm-2 {
    background: $darkbackgroud;
    color: $darkfont;
  }
  .chart-container {
    box-shadow: 0 2px 8px 0 $darkshadow;
  }
  .sdcontainer,
  .period-buttons {
    border-bottom: 1px solid $darkseperator;
  }

  .horizontal-separator {
    border-left: 1px solid $darkseperator;
  }
}

.cols {
  flex: 100%;
  max-width: 100%;
  @include lg {
    max-width: 50%;
  }
  @include xl {
    max-width: 33%;
  }
}

.stock-buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.period-buttons {
  text-align: center;
  padding: 20px 20px;
  border-bottom: 1px solid $seperator;
}

.stock-button {
  margin-left: 20px;
}

.results {
  .stock-button {
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

.navbar {
  span {
    margin-left: 20px;
    padding: 15px 10px;
    cursor: pointer;
  }
}

.navbar {
  padding: 0rem 1rem;
}

.navbar-collapse {
  .active {
    border-bottom: 2px solid $active;
  }
}
