body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  flex-wrap: wrap;
}

.mychart {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.stockButtons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.periodButtons {
  text-align: center;
}

.stockButton {
  margin-right: 20px;
  margin-bottom: 20px;
}

.nav-item {
  padding: 10px 20px;
  cursor: pointer;
}

.navbar {
  padding: 0rem 1rem;
}

.navbar-collapse {
  color: #444444;
  .active {
    background-color: #bdd8e6;
  }
}
